@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  /* padding: 0; */
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("/bgImage.jpg") no-repeat center center/cover;
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

header,
.searchWeather {
  text-align: center;
}

header h1 {
  color: white;
  font-size: 2.5rem;
  padding: 1.5rem 0;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
  width: 50%;
  border-radius: 0.5rem;
  border: 1px solid black;
}

#weatherInfo {
  max-width: 620px;
  margin: auto;
  /* text-align: center; */
}

.flex-items {
  display: flex;
  flex-direction: column;
}

.inner-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.innerText {
  font-size: 1.7rem;
}

/* #weatherDetails {
  font-size: 2rem;
} */

.temp {
  font-size: 4rem;
  font-weight: 700;
}

.tempFeel {
  font-size: 2.8rem;
}

.extra-info {
  display: inline;
  /* width: 40%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.2rem 1rem;
}

#last {
  padding-bottom: 1.2rem;
}

#last-item {
  padding-bottom: 1.2rem;
}

hr {
  width: 299px;
  margin: 1rem 0;
}

.flex-left {
  display: inline;
  width: 310px;
  float: left;
  margin: auto;
  background-color: white;
  border-bottom-left-radius: 1rem;
}

.flex-right {
  display: inline;
  width: 310px;
  float: right;
  margin: auto;
  background-color: white;
  border-bottom-right-radius: 1rem;
}

#upperContent {
  background: url("/bgImage.jpg") no-repeat center center/cover;
  padding: 1rem;
  color: white;
  /* border: 5px solid skyblue; */
  border-radius: 0.8rem;
  margin: 2rem 0;
}

#upperContent h1 {
  font-size: 2rem;
  margin: 0.4rem;
}

#upperContent .dateinfo {
  font-size: 1.2rem;
  opacity: 0.75;
  margin-left: 0.5rem;
}

#bottomContent {
  background-color: white;
  color: #2b2b2b;
  padding-bottom: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.bottom-first {
  padding: 0.5rem 1rem;
}

.bottom-second {
  margin-bottom: 2rem;
}

#description,
#min-max {
  font-weight: bold;
}

.footer {
  background-color: #2b2b2b;

  padding: 1rem 1rem;
  margin-top: 12rem;
  text-align: center;
  color: white;
  /* border-top-right-radius: 1rem; */
}

.footer .link {
  color: white;
}

.footer .footer-header {
  text-align: center;

  margin-top: 0.8rem;
  font-weight: bold;
  font-size: large;
}

.footer ul {
  padding-inline-start: 0px;
}

.social {
  max-width: 600px;
  margin: auto;
  /* display: flex;
  justify-content: space-around; */
}

.social i {
  padding: 1rem 2rem;
  color: white;
}

.social .fa-linkedin-in:hover {
  color: #0072b1;
}
.social .fa-twitter:hover {
  color: #1da1f2;
}
.social .fa-github:hover {
  color: #211f1f;
}
.social .fa-dev:hover {
  color: #08090a;
}

@media (max-width: 360px) {
  header h1 {
    max-width: 280px;
    font-size: 2.2rem;
  }

  #weatherInfo {
    max-width: 270px;
    margin: auto;
  }

  .flex-left {
    max-width: 270px;
    border-bottom-left-radius: 0;
  }

  .flex-right {
    max-width: 270px;
    border-bottom-left-radius: 1rem;
  }

  hr {
    width: 270px;
  }

  #last {
    padding-bottom: 0.2rem;
  }

  .footer {
    margin-top: 22rem;
  }

  .social i {
    padding: 1rem 0.8rem;
  }
}

@media (min-width: 361px) and (max-width: 600px) {
  input {
    width: 60%;
  }

  #upperContent {
    max-width: 340px;
    margin: 2rem auto;
  }

  #bottomContent {
    max-width: 340px;
    margin: 2rem auto;
  }

  .flex-left {
    max-width: 340px;
    float: none;
  }

  .flex-right {
    max-width: 340px;
    float: none;
  }

  .footer {
    margin-top: 1rem;
  }

  hr {
    width: 330px;
  }

  #bottomContent {
    padding-bottom: 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  #last {
    padding-bottom: 0;
  }

  .social i {
    padding: 1rem;
  }
}
